@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-VariableFont_opsz.ttf');
}

.root {
    -fx-font-family: 'Inter', 'DejaVu Sans', 'sans-serif', 'FreeSans';
}

.sidebar {
    -fx-background-color: #151f32;
    -fx-background-radius: 0 50px 0 0;
}

.sidebar-button {
    -fx-background-color: #09101d;
}

.scroll-pane {
 -fx-background-color: #151f32;
}

.scroll-pane > .viewport {
   -fx-background-color: #151f32;
   -fx-control-inner-background: #151f32;
}

.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}